<table id="gr_table">
    <thead>
        <h1>Guardian Ranks</h1>
        <tr>
            <th>Guardian ID</th>
            <th>Name</th>
            <th>Rank ID</th>
            <th>Title</th>
        </tr>
    </thead>

    <tbody>
        {{#each gr_data}}
        <tr data-value={{this.guardian_id}}>
            <td id="g_id">{{this.guardian_id}}</td>
            <td>{{this.name}}</td>
            <td id="r_id">{{this.rank_id}}</td>
            <td>{{this.title}}</td>
            <td><button onclick="deleteGR({{this.guardian_id}}, {{this.rank_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_gr.js"></script>

<h2>Add a new Rank to a Guardian:</h2>
<form id="add-gr-form-ajax">
    <select name="input-guardian" id="input-guardian">
        <option value="">Select a Guardian</option>
        {{#each guardians}}
            <option value="{{this.guardian_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <select name="input-rank" id="input-rank">
        <option value="">Select a rank</option>
        {{#each ranks}}
            <option value="{{this.rank_id}}">{{this.title}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

<script src="./js/add_gr.js"></script>
