<ul style="display: inline">
    <li style="display: inline"><a href="/">Guardians</a></li>
    <li style="display: inline"><a href="/guardian_rank">Guardian Ranks</a></li>
    <li style="display: inline"><a href="/ranks">Ranks</a></li>
    <li style="display: inline"><a href="/sales">Sales</a></li>
    <li style="display: inline"><a href="/weapons">Weapons</a></li>
    <li style="display: inline"><a href="cosmetics.html">Cosmetics</a></li>
    <li style="display: inline"><a href="consumable.html">Consumables</a></li>
</ul>

<table id="gr_table">
    <thead>
        <h1>Guardian Ranks</h1>
        <tr>
            <th>Guardian ID</th>
            <th>Name</th>
            <th>Rank ID</th>
            <th>Title</th>
        </tr>
    </thead>

    <tbody>
        {{#each gr_data}}
        <tr>
            <td>{{this.guardian_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.rank_id}}</td>
            <td>{{this.title}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>Add a new Rank to a Guardian:</p>
<form id="add-gr-form-ajax">
    <select name="input-guardian" id="input-guardian">
        <option value="">Select a Guardian</option>
        {{#each guardians}}
            <option value="{{this.guardian_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <select name="input-rank" id="input-rank">
        <option value="">Select a rank</option>
        {{#each ranks}}
            <option value="{{this.rank_id}}">{{this.title}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

<script src="./js/add_gr.js"></script>
