<!-- index.hbs starter code adapted from https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<ul style="display: inline">
    <li style="display: inline"><a href="/">Guardians</a></li>
    <li style="display: inline"><a href="/guardian_rank">Guardian Ranks</a></li>
    <li style="display: inline"><a href="/ranks">Ranks</a></li>
    <li style="display: inline"><a href="/sales">Sales</a></li>
    <li style="display: inline"><a href="weapons.html">Weapons</a></li>
    <li style="display: inline"><a href="cosmetics.html">Cosmetics</a></li>
    <li style="display: inline"><a href="consumable.html">Consumables</a></li>
</ul>
<table id="guardians_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <h1>Guardians</h1>
        <tr>
            <th>Guardian ID</th>
            <th>Name</th>
            <th>Glimmer Balance</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.guardian_id}}>
            <td>{{this.guardian_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.glimmer_balance}}</td>
            <td><button onclick="deleteGuardian({{this.guardian_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>
<script src="./js/delete_guardian.js"></script>

<p>Add a new Guardian:</p>
<form id="add-guardian-form-ajax">
    <label for="input-name">Name:</label>
    <input id="input-name" name = "input-name" type="text"></input>

    <label for="input-glimmer">Glimmer Balance:</label>
    <input id="input-glimmer" name = "input-glimmer" type="number"></input>

    <select name="input-rank" id="input-rank">
        <option value="">Select a rank</option>
        {{#each ranks}}
            <option value="{{this.rank_id}}">{{this.title}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_guardian.js"></script>

<p>Update a Guardian:</p>
<form id="update-guardian-form-ajax">
            <label for="guardian-input-up">Choose a guardian:</label>
            <select name="guardian-input-up" id="guardian-input-up">
                {{#each data}}
                <option value="{{this.guardian_id}}">{{this.guardian_id}}</option>
                {{/each}}
            </select>
            <label for="name-input-up">Name:</label>
            <input id="name-input-up" type="text"></input>

            <label for="glimmer-input-up">Glimmer Balance:</label>
            <input id="glimmer-input-up" type="text"></input>

            <label for="update-guardian-rank">Add Rank:</label>
            <select name="update-guardian-rank" id="update-guardian-rank">
                <option value="">Select a rank</option>
                {{#each ranks}}
                <option value="{{this.rank_id}}">{{this.title}}</option>
                {{/each}}
            </select>

            <button id="update-guardian-accept" type="submit">Accept</button>
    </form>
<script src="./js/update_guardian.js"></script>

<!--
<table id="ranks_table">
    <thead>
        <h1>Guardian Ranks</h1>
        <tr>
            <th>Guardian ID</th>
            <th>Name</th>
            <th>Rank ID</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        {{#each data2}}
        <tr>
            <td>{{this.guardian_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.rank_id}}</td>
            <td>{{this.title}}</td>
        </tr>
        {{/each}}
        
    </tbody>
</table>
-->